/*
Arquivo CSS para formatação do site da cafeteria
*/

/*
Aplicar a formatação a todos os elementos. Usaremos o asterisco(*)
*/
* {
  /*zerar as margens externas dos elementos*/
  margin: 0;
  /*zerar as margens internas dos elementos*/
  padding: 0;
  /*ajuste das caixas(box) dos elementos*/
  box-sizing: border-box;
}
header {
  height: 300px; /*altura da caixa*/
  background-image: url(../img/cafe1.jpg); /*adicionar uma imagem ao fundo*/
  background-size: 100%; /*ajustar a largura da imagem em 100%*/
  background-position: 0 -300px; /*ajustar a posição em x e y da largura de fundo*/
  transition: ease 1s;
  padding-top: 100px; /*ajustar a posição da margem superior do titulo*/
}
h1 {
  text-align: center;
  font-family: "Verdana";
  color: turquoise;
  text-shadow: 15px 10px 5px black;
}
nav {
  background-color: khaki;
  text-align: center;
}
nav ul li {
  display: inline-block; /*dispor os itens da lista li em linha*/
  padding: 10px; /*aumentar a distancia entre os elementos*/
  transition: ease 1s;
}
nav ul li:hover {
  background-color: snow; /*ao passar o mouse sobre o link deve alterar sua cor*/
}
nav ul li a {
  font-family: "verdana";
  font-size: 10pt;
  color: black;
  text-decoration: none; /*retirar o underline do link | nenhum*/
}
footer {
  height: 300px; /*altura em pixels*/
  background-color: black;
  color: white;
  font-family: "arial";
  padding-top: 50px;
  /*Dispor de forma flexivel e em linha*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 20%;
  margin: 20px;
}
#redes ul li {
  display: inline-block;
  margin-left: 5px;
}
#redes ul li a img {
  width: 51px;
  height: 51px;
}
/*----------------------- Inicio do css da HOME ----------------------- */
h2 {
  font-family: "arial";
  font-size: 20pt;
  margin: 50px;
  border-bottom: 5px solid khaki;
}
#home p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana;
  font-size: 12pt;
  /* espaçamento entre linhas */
  line-height: 15pt;
  text-align: justify;
}
#imghome {
  text-align: center;
}
#imghome img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 100px;
  opacity: 0.7;
  transition: ease 0.5s;
  /* mudar o pónteiro do mouse para uma mão */
  cursor: pointer;
}
#imghome img:hover {
  transform: scale(1.2);
  opacity: 1;
}
/*----------------------- Fim da HOME ----------------------- */
/*----------------------- Inicio do estilo da historia ----------------------- */
#historia p {
  width: 70%;
  font-family: arial;
  font-size: 12pt;
  line-height: 30pt;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
#imghistoria {
  text-align: center;
}
#imghistoria img {
  width: 150px;
  height: 150px;
  margin: 10px;
}
iframe {
  width: 100%;
  height: 500px;
  margin: 20px;
}
/*----------------------- Fim do estilo da historia ----------------------- */
/*----------------------- Inicio do estilo do cardapio ----------------------- */
h3 {
  font-family: Arial;
  font-size: 12pt;
  margin: 30px;
}
#linha {
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* quebra de linha */
  box-shadow: 2px 2px 5px black;
  justify-content: center;
}
#linha div {
  width: 30%;
  margin: 10px;
  /* borda na div */
  border: 1px solid black;
}
#linha div img {
  width: 100%;
}
#linha div h4 {
  font-family: arial;
  font-size: 15pt;
  margin: 10px;
}
#linha div p {
  font-family: arial;
  font-size: 15pt;
  color: red;
  font-weight: bold;
}
/*----------------------- Fim do estilo do cardapio ----------------------- */
/*----------------------- Formatação CSS para pagina contato ----------------------- */
main form {
  width: 40%;
  padding: 10px;
  background-color: khaki;
  margin-left: auto;
  margin-right: auto;
}
main form input[type="text"],
main form input[type="email"],
main form input[type="tel"],
main form select,
main form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 2px solid gray;
  border-radius: 5px;
  display: block;
}
main form input[type="tel"],
main form select {
  width: 30%;
  display: inline-block;
  margin: 17px;
  margin-left: 70px;
}
main form textarea {
  width: 615px;
  height: 150px;
  border: 1px solid silver;
  margin-bottom: 10px;
}
main form input[type="submit"] {
  padding: 0px;
  border: 0px;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
/*----------------------- Final da Formatação CSS para pagina contato ----------------------- */
/*----------------------- Inicio Formatação CSS para pagina localização ----------------------- */
#mapa iframe {
  width: 97%;
  height: 600px;
}
